{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-typescript"
    ]
    // "plugins": [
    //     "@babel/proposal-object-rest-spread", // 处理对象的rest写法
    //     "@babel/proposal-class-properties" // 处理类里面的箭头函数绑定，static属性等 
    // ]
}